---
import Html from "@/layouts/html.astro";
import { m } from "@/paraglide/messages";
import type { Locale } from "@/paraglide/runtime";

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
---

<Html>
  <h1>{m.example_message({ username: "Risqi" }, { locale })}</h1>
</Html>
