---
import { locales, baseLocale, deLocalizeHref } from "@/paraglide/runtime";
import { getAbsoluteLocaleUrl } from "astro:i18n";
import { m } from "@/paraglide/messages";
import { getLocale } from "@/lib/i18n";

const currentLocale = getLocale(Astro.currentLocale);
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />
<title>
  {m.example_message({ username: "Risqi" }, { locale: currentLocale })}
</title>

<!-- start:hreflang for other locales -->
{
  locales.map((lang) => (
    <link
      rel="alternate"
      type="text/html"
      hreflang={lang}
      title={lang}
      href={getAbsoluteLocaleUrl(lang, deLocalizeHref(Astro.url.pathname))}
    />
  ))
}
<link
  rel="alternate"
  type="text/html"
  hreflang="x-default"
  title={baseLocale}
  href={getAbsoluteLocaleUrl(baseLocale, deLocalizeHref(Astro.url.pathname))}
/>
<!-- end:hreflang for base locale -->

<!-- Canonical URL -->
<link
  rel="canonical"
  href={new URL(Astro.url.pathname, Astro.site).toString()}
/>
