---
import { getLocale } from "@/lib/i18n";
import { locales, baseLocale } from "@/paraglide/runtime";
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/components/ui/sections/Hero.astro";
import Header from "@/components/ui/sections/Header.astro";

const locale = getLocale(Astro.currentLocale);

export function getStaticPaths() {
  return locales
    .filter((lang) => lang !== baseLocale)
    .map((lang) => ({
      params: { lang },
    }));
}
---

<Layout locale={locale}>
  <Header />
  <main>
    <HeroSection locale={locale} />
  </main>
</Layout>
